*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #373a40;
  display: flex;
  height: 100vh;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}

.garu {
  transform: scale(0.6);
}

.garu__head {
  position: relative;
}

.garu__headHair {
  width: 44rem;
  height: 37rem;
  border-radius: 50%;
  background-color: black;
  z-index: 0;
}

.garu__face {
  background-color: #FFE1C7;
  position: absolute;
  top: 57%;
  left: 50%;
  width: 38rem;
  height: 29rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 47%;
  border-bottom-right-radius: 47%;
}

.garu__eye {
  width: 11rem;
  height: 11rem;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.garu__eye--left {
  top: 10rem;
  left: 0rem;
}

.garu__sclera {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transform: scale(0.78);
}

.garu__pupil {
  height: 30%;
  width: 30%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  animation-name: looking;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.garu__eye--right {
  top: 10rem;
  right: 0rem;
}

.garu__brow {
  width: 12rem;
  height: 2rem;
  background-color: black;
  position: absolute;
  top: 32%;
}

.garu__brow--left {
  left: 0%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  animation-name: leftBrow;
  animation-delay: 1.8s;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.garu__brow--right {
  right: 0%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  animation-name: rightBrow;
  animation-delay: 1.8s;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.garu__mouth {
  width: 30.5rem;
  height: 7rem;
  background-color: white;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border: 1rem solid black;
}

.garu__tooth {
  height: 100%;
  width: 1rem;
  background-color: black;
  position: absolute;
}

.garu__tooth--first {
  left: 20%;
}

.garu__tooth--second {
  left: 50%;
  transform: translateX(-50%);
}

.garu__tooth--third {
  right: 20%;
}

.garu__ponytail {
  width: 4rem;
  height: 8rem;
  position: absolute;
  background-color: red;
  z-index: -1;
  top: 0%;
  border: 1rem solid black;
  overflow: hidden;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.garu__ponytail--left {
  transform: rotate(130deg);
  left: 12%;
}


.garu__ponytail--right {
  right: 12%;
  transform: rotate(-130deg);
}

.garu__stripe {
  height: 100%;
  width: 1rem;
  position: absolute;
  background-color: black;
  transform: rotate(90deg);
  top: 12%;

}

.garu__stripe--left {
  left: -20%;
}


.garu__stripe--right {
  right: -20%;
}

.garu__spiky {
  width: 15rem;
  height: 15rem;
  position: absolute;
  background-color: black;
  top: -27%;
  -webkit-clip-path: polygon(45% 100%, 12% 55%, 42% 57%, 44% 28%, 64% 43%, 86% 27%, 84% 61%, 100% 58%, 67% 99%);
  clip-path: polygon(45% 100%, 12% 55%, 42% 57%, 44% 28%, 64% 43%, 86% 27%, 84% 61%, 100% 58%, 67% 99%);
}

.garu__spiky--left {
  left: -21%;
  transform: rotate(-50deg);
}

.garu__spiky--right {
  right: -18%;
  top: -30%;
  transform: rotate(50deg);
}


@media (min-width: 62.5rem) {
  .garu {
    transform: scale(1);
  }
}

@keyframes looking {
  0% {
    left: 5%;
  }

  10% {
    left: 35%;
  }

  20% {
    left: 65%;
  }

  30% {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  90% {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes leftBrow {
  0% {
    transform: rotate(0deg);
  }

  2% {
    transform: rotate(20deg);
  }

  98% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rightBrow {
  0% {
    transform: rotate(0deg);
  }

  2% {
    transform: rotate(-20deg);
  }

  98% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}